* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* immagini*/
  img {
    max-width: 100%;
    display: block;
  }

  /* container*/
  .container{
    max-height: 1100;
    margin: 0 auto;
    

  }

/* padding*/
.pad-1rm{
    padding: 1rem;
}
  



    /* background*/
  main{
    background-color: #f6f5f3;
  }
  .bg-bianco{
  background-color: #ffffff;
  }